[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = git@github.com:gorilla/websocket.git
[submodule "src/github.com/gorilla/mux"]
	path = src/github.com/gorilla/mux
	url = git@github.com:gorilla/mux.git
[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = git@github.com:gorilla/context.git
[submodule "src/github.com/elazarl/goproxy"]
	path = src/github.com/elazarl/goproxy
	url = git@github.com:elazarl/goproxy.git
